<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Silk.NET Latest Experimental" value="https://gitlab.com/api/v4/projects/47661606/packages/nuget/index.json" />
		<add key="JupaheGithub" value="https://nuget.pkg.github.com/jupahe64/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<JupaheGithub>
			<add key="Username" value="jupahe64" />
			<!-- password is specifically generated for downloading packages and ONLY that -->
			<add key="ClearTextPassword" value="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" />
		</JupaheGithub>
	</packageSourceCredentials>
</configuration>